<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="dtpFrom.CustomFormat" value="dd'/'MM'/'yy hh':'mm tt" />
		<add key="dd'/'MM'/'yy hh':'mm tt" value="(None)" />
	</appSettings>
</configuration>